---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostList from '../../components/PostList.tsx';
import Navbar from '../../components/Navbar.astro';

const posts = await getCollection('blog');
---

<Layout title="Blog">
	<div class="container mx-auto w-full px-4">
		<Navbar />
		<PostList posts={posts} client:load />
	</div>
</Layout>
