---
import clsx from 'clsx';
import IconButton from '../components/IconButton.astro';
import Statuses from '../components/Statuses.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = false;

const mainClasses = clsx(['flex', 'flex-col', 'min-h-screen', 'justify-center', 'grow', 'ma', 'px-4', 'max-w-2xl']);

const listArrowClasses = clsx(
	'relative',
	'w-fit',
	'text-zinc-700',
	'dark:text-zinc-300',
	'before:transition-left',
	'before:pointer-events-none',
	'before:absolute',
	'before:my-auto',
	'before:inset-y-0',
	'hover:before:left-2',
	'before:i-fa-solid-arrow-right',
	'before:block',
	'before:content-empty',
	'before:w-4',
	'before:h-4',
);
---

<Layout title="didinele">
	<main class={mainClasses}>
		<div class="flex-grow content-center">
			<h1 class="text-6xl font-bold leading-tight">
				Hi, I'm <span class="text-sky-500">Denis</span>.
			</h1>
			<h2 class="font-light text-2xl">Building tools for online communities. Student at UniBuc</h2>
			<nav class="flex gap-3 mt-6">
				<IconButton href="mailto:me@didinele.dev" iconClass="i-fa-solid-at hover:bg-violet-700" label="Email" />
				<IconButton
					href="https://github.com/didinele"
					iconClass="i-fa-brands-github hover:bg-[#2da44e]"
					label="Github"
				/>
				<IconButton
					href="https://x.com/didinele_dev"
					iconClass="i-simple-icons-twitter hover:bg-[rgb(0,133,255)]"
					label="Twitter"
				/>
				<IconButton
					href="https://keybase.io/didinele"
					iconClass="i-fa-brands-keybase hover:bg-[#ff6f21]"
					label="Keybase"
				/>
			</nav>
			<div class="mt-12">
				<Statuses />
			</div>

			<nav class="mt-12 text-xl">
				<ul class="flex flex-col gap-1" role="list">
					<li class={listArrowClasses}>
						<a href="/blog" class="pl-8">blog</a>
					</li>
				</ul>
			</nav>
		</div>

		<footer class="bg-zinc-50 dark:bg-zinc-800 mb-6">
			<div class="p-4 text-center">
				Heavily inspired by <a href="https://wnelson.dev/" class="underline">Will Nelson</a>'s site.
			</div>
		</footer>
	</main>
</Layout>
